.bg-green {
    background-color: #4bdd79;
}

.bg-blue {
    background-color: #4ba0dd;
}

.bg-lila {
    background-color: #c45fe2;
}

.bg-red {
    background-color: #ef477d;
}

.bg-orange {
    background-color: #f2803a;
}

.bg-yellow {
    background-color: #ffed66;
}
