.bg-green {
    background-color: #4bdd79;
}

.bg-blue {
    background-color: #4ba0dd;
}

.bg-lila {
    background-color: #c45fe2;
}

.bg-red {
    background-color: #ef477d;
}

.bg-orange {
    background-color: #f2803a;
}

.bg-yellow {
    background-color: #ffed66;
}

.bronze {
    background-color: #bd6657;
}

.silver {
    background-color: #acabac;
}

.gold {
    background-color: #ece499;
}

.platinum {
    background-color: #a8b9b8;
}

.diamond {
    background-color: #97a4ce;
}

.master {
    background-color: #f3b953;
}

.grandmaster {
    background-color: #fff9e4;
}
