.bg-green {
    background-color: #4bdd79;
}

.bg-blue {
    background-color: #4ba0dd;
}

.bg-lila {
    background-color: #c45fe2;
}

.bg-red {
    background-color: #ef477d;
}

.bg-orange {
    background-color: #f2803a;
}

.bg-yellow {
    background-color: #ffed66;
}

.bronze {
    background-color: #bd6657;
}

.silver {
    background-color: #acabac;
}

.gold {
    background-color: #ece499;
}

.platinum {
    background-color: #a8b9b8;
}

.diamond {
    background-color: #97a4ce;
}

.master {
    background-color: #f3b953;
}

.grandmaster {
    background-color: #fff9e4;
}

.table-sm td {
    position: relative;
    padding-left: 1rem;
}

.table td:nth-child(1) {
    font-size: 1.25rem;
}

.table td:nth-child(1) img {
    margin-left: 0.3rem;
}

.table td:nth-child(2) {
    font-size: 1.2rem;
}

.remove {
    position: absolute;
    right: 20px;
    top: 6px;
}

.matchbox {
    width: 400px;
}

.ow-history h2 {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5px 15px 5px 15px;
    background-color: #0062cc;
}

.ow-history h2 .fas {
    width: 50px;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}

.ow-history.hidden table {
    display: none;
}
